.App {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.Card {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  font-family: times, "Times New Roman";
  color: grey;
}

input {
  width: 900px;
  font-size: 20px;
  margin-bottom: 5px;
}

.description {
  display: flex;
  flex-direction: row;
  align-items: center;
}

button {
  width: 300px;
  font-size: 30px;
  border-radius: 5px;
  background-color: #7fe4b4;
  margin-top: 20px;
  color: white;
}
